*{
    box-sizing: border-box;
}

.memImage{
    height: 300px;
    width: 300px;
}

.memImageContainer{
    height: 300px;
    width: 300px;
    background-color: darkslategrey;
    margin:auto;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid green;
    border-radius: 5%;
}

.NavItem.active{
    background-color: deeppink;
}
