*{
    box-sizing: border-box;
}

.memImage{
    height: 700px;
    width: 700px;
}

.memImageContainer{
    height: 750px;
    width: 700px;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 2%;
    margin: auto;
}

.memContainer{
    width: 90%;
    text-align: center;
    margin-top:15px;
}

.starColor{
    color: darkorange;
}

.scrollableGrid {
    overflow: auto;
    max-height: 95vh;
    text-align: center;
  }

.root {
    flex-grow: 1;
  }

  .memsContainer{
    width: 90%;
    text-align: center;
}